/*

Dynamic
	:link (links) - Link no visitados
	:visited (link) - Link visitado
	:active (link) - el momento del click
	:hover - Al poner el mouse sobre un elemento
	:focus - cuando un elemento recibe o tiene el foco

Target 
	:target - Elemento es obtivo de un marcador
	o ancla

Language
	:lang() Elemento que contiene el atributo lang 
	que especifiquemos

*/

.link:link{
	color: red;
}

.link:visited{
	color: green;
}

.link:active{
	color: cyan;
}

.button{
	text-decoration: none;
	display: inline-block;
	background: red;
	padding: .5em;
	border-radius: 5px;
	color: white;
}

.button:active{
	transform: scale(.9);

}

.button:hover{
	background: black;
	color: white;
}

.title:hover{
	color: blue;
}

.input:focus{
	background: green;
}

/*

	HTML
	CSS
	JavaScript
	PHP/JSP/ASP.net

*/

.menu{
	background: lightblue;
	display: block;
	padding: 1em;
	text-decoration: none;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
}

.span{
	display: block;
}

.text:target{
	padding-top: 50px;
}

.span:lang(en){
	color: red;
}

.span:lang(es){
	color: blue;
}