/*

Dynamic
	:link (links) - Link no visitados
	:visited (link) - Link visitado
	:active (link) - el momento del click
	:hover - Al poner el mouse sobre un elemento
	:focus - cuando un elemento recibe o tiene el foco

Target 
	:target - Elemento es obtivo de un marcador
	o ancla

Language
	:lang() Elemento que contiene el atributo lang 
	que especifiquemos

*/

.link:link{
	color: red;
}

.link:visited{
	color: green;
}

.link:active{
	color: cyan;
}

.button{
	text-decoration: none;
	display: inline-block;
	background: red;
	padding: .5em;
	border-radius: 5px;
	color: white;
}

.button:active{
	transform: scale(.9);

}

.button:hover{
	background: black;
	color: white;
}

.title:hover{
	color: blue;
}

/*.input:focus{
	background: green;
}*/

/*

	HTML
	CSS
	JavaScript
	PHP/JSP/ASP.net

*/

.menu{
	background: lightblue;
	display: block;
	padding: 1em;
	text-decoration: none;
	text-align: center;
	position: fixed;
	width: 100%;
	top: 0;
}

.span{
	display: block;
}

.text:target{
	padding-top: 50px;
}

.span:lang(en){
	color: red;
}

.span:lang(es){
	color: blue;
}

/*

	UI States
		:enabled
		:disabled
		:checked
		:in-range
		:out-of-range
		:optional
		:required
		:valid
		:invalid
		:fullscreen

*/

.input,
.label{
	display: block;
	margin: 1em;
}

.input:enabled{
	background: red;
}

.input:disabled{
	background: yellow;
}

.input:checked + label{
	font-size: 2em;
}

.input:in-range{
	background: green;
}

.input:out-of-range{
	background: blue;
}

.input:optional{
	background: purple;
}

.input:required{
	background: lightcoral;

}

.input:valid{
	background: green;
}

.input:invalid{
	background: red;
}

/*

	Structural

*/

/*:root{

}

html{

}*/

/*.paragraph{
	background: lightblue;
	padding: .5em;
}

.paragraph:empty{
	padding: 0;
}*/

/*.paragraph:first-child{
	background: red;
}*/

/*.paragraph:last-child{
	background: red;
}*/


/*
HIJOS IMPARES
.paragraph:nth-child(odd){
	background: red;
}*/

/*
HIJOS PARES
.paragraph:nth-child(even){
	background: red;
}*/


/*
HIJO ESPECIFICO
.paragraph:nth-child(5){
	background: red;
}*/

/*

3n

3x0 = 0 + 1
3x1 = 3
3x2 = 6
3x3 = 9

*/

/*.paragraph:nth-child(3n){
	background: red;
}*/

/*.paragraph:nth-child(3n){
	background: red;
}*/

.paragraph:not(h1){
	background: red;
}

