[class^="bg-"]{
	display: inline-block;
	width: 30%;
	height: 150px;
	border: 1px solid red;

	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

body{
	padding-bottom: 50em;
	text-align: center;
}

.bg-color{
	background-color: green;
}

.bg-image{
	background-image: url(../img/logo.png);
}

.bg-size{
	background-image: url(../img/cafe.jpg);
	/*background-size: 100px 100px;*/
	/*background-size: 10%;	*/
	/*background-size: cover;*/
	background-size: contain;
}

.bg-repeat{
	background-image: url(../img/logo.png);
	background-size: 10%;
	/*background-repeat: no-repeat;*/
	/*background-repeat: repeat;*/
	/*background-repeat: repeat-x;*/
	/*background-repeat: repeat-y;*/
	background-repeat: round;
}

.bg-position{
	background-image: url(../img/logo.png);
	background-size: 10%;
	background-repeat: no-repeat;

	background-position: right bottom;
	/*background-position: 100px 100px;*/

}


.bg-origin{
	border: 10px dotted red;
	padding: 15px;
	background-image: url(../img/cafe.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: border-box;
	color: white;
}

.bg-clip{
	border: 10px dotted red;
	padding: 15px;
	background-image: url(../img/cafe.jpg);
	background-clip: border-box;
	background-clip: padding-box;
	background-clip: content-box;

	color: white;
}

.bg-attachment{
	width: 100%;
	background-image: url(../img/cafe.jpg);
	background-size: contain;
	/*background-attachment: scroll;*/
	background-attachment: fixed;
}

.bg-multiple{
	background-image: 
		url(../img/logo.png),
		url(../img/cafe.jpg);
		background-size: contain;
		background-size: 20%, cover;
		background-repeat: no-repeat;
		background-position: bottom right, center;

}